---
# Jupyter LLM docker compose by Matthew Printz

version: '3'
services:
  jupyter:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8888:8888"
    environment:
      - DEBUG=1
      - JUPYTER_SERVER=http://jupyter:8888
      - JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
      - ENABLE_USER_PROMPT=true
      - OPENAI_API_KEY
    volumes:
      - ./beaker_kernel:/usr/local/share/jupyter/kernels/beaker_kernel
      - .:/jupyter
    command:  ["python", "service/dev.py", "--ip", "0.0.0.0", "-y"]
