OPENAI_API_KEY={OPENAI_API_KEY}
JUPYTER_SERVER=http://localhost:8888
JUPYTER_TOKEN=ebcec7fcf42f28baccfab1cbc07bfb3f
ENABLE_USER_PROMPT=true
VUE_APP_BASE_URL=http://localhost:8080
VUE_APP_URL=http://localhost:8080
VUE_APP_WS_URL=ws://localhost:8080
VUE_APP_TOKEN=89f73481102c46c0bc13b2998f9a4fce
