@import url('../beaker-common.css');

@layer beaker {

:root {
  --surface-a:#ffffff;
  --surface-b:#eff3f8;
  --surface-c:#f6f9fc;
  --surface-d:#dfe7ef;
  --surface-e:#ffffff;
  --surface-f:#ffffff;
  --text-color:#043d75;
  --text-color-secondary:#708da9;
  --primary-color:#7254f3;
  --primary-color-text:#ffffff;
  --surface-0: #ffffff;
  --surface-50: #f1f4f6;
  --surface-100: #e2e8ee;
  --surface-200: #c6d1dd;
  --surface-300: #a9bbcb;
  --surface-400: #8da4ba;
  --surface-500: #708da9;
  --surface-600: #5a7187;
  --surface-700: #435565;
  --surface-800: #2d3844;
  --surface-900: #161c22;
  --gray-50: #f1f4f6;
  --gray-100: #e2e8ee;
  --gray-200: #c6d1dd;
  --gray-300: #a9bbcb;
  --gray-400: #8da4ba;
  --gray-500: #708da9;
  --gray-600: #5a7187;
  --gray-700: #435565;
  --gray-800: #2d3844;
  --gray-900: #161c22;
  --content-padding:1.25rem;
  --inline-spacing:0.5rem;
  --border-radius:6px;
  --surface-ground:#eff3f8;
  --surface-section:#ffffff;
  --surface-card:#ffffff;
  --surface-overlay:#ffffff;
  --surface-border:#dfe7ef;
  --surface-hover:#f6f9fc;
  --focus-ring: 0 0 0 1px #c7bbfa;
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: #e2dcfc;
  --highlight-text-color: #5a37f1;
  color-scheme: light;
  --primary-50:#f8f6fe;
  --primary-100:#ddd6fc;
  --primary-200:#c2b5fa;
  --primary-300:#a895f8;
  --primary-400:#8d74f5;
  --primary-500:#7254f3;
  --primary-600:#8473ce;
  --primary-700:#503baa;
  --primary-800:#3f2e86;
  --primary-900:#2e2261;
}
}
