@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer beaker {

:root {
  font-family: Lato, Helvetica, sans-serif;
  --font-family: Lato, Helvetica, sans-serif;
  --body-font: Lato, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;

  --surface-a:#ffffff;
  --surface-b:#eff3f8;
  --surface-c:#f6f9fc;
  --surface-d:#dfe7ef;
  --surface-e:#ffffff;
  --surface-f:#ffffff;
  --text-color-secondary:#708da9;
  --primary-color-text:#ffffff;
  --border-radius:6px;
  --surface-ground:#eff3f8;
  /* --surface-border:#dfe7ef; */
  /* --p-surface-border: var(--surface-border); */
  /* border-color: var(--surface-d); */

}

/* lato-300 - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("/themes/fonts/lato-v17-latin-ext_latin-300.woff2") format("woff2"), url("/themes/fonts/lato-v17-latin-ext_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/themes/fonts/lato-v17-latin-ext_latin-regular.woff2") format("woff2"), url("/themes/fonts/lato-v17-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/themes/fonts/lato-v17-latin-ext_latin-700.woff2") format("woff2"), url("/themes/fonts/lato-v17-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.monospace {
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

.pre {
  white-space: pre-wrap;
}

.p-button-icon.beaker-zoom {
  &::after {
    content: "\e908";
    font-size: 50%;
    position: absolute;
    right: 38%;
    top: 45%;
  }
}

.beaker-dark {
  --surface-a:#282936;
  --surface-b:#1d1e27;
  --surface-c:rgba(255, 255, 255, 0.03);
  --surface-d:#3e4053;
  --surface-e:#282936;
  --surface-f:#282936;
  --text-color-secondary:rgba(255, 255, 255, 0.6);
  --primary-color-text:#1c1d26;
  --border-radius:6px;
  --surface-ground:#1d1e27;
  --surface-border:#3e4053;
  /* border-color: var(--surface-d); */
}

}
